// =====================
// === GENERAL RULES ===
// =====================
* {
  margin: 0;
}
.screen {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

// ================
// === SECTIONS ===
// ================
#skin {
  position: relative;
  width: 100vw;
  overflow: scroll;
  height: calc(100vh - 64px);
  div, #baseImage {
    -webkit-filter: grayscale(1);
    opacity: .5;
  }
  img.muscle {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    -webkit-filter: grayscale(0.5);
    opacity: .8;
    &.focused,
    &.hover {
      z-index: 99;
      -webkit-filter: grayscale(0);
      opacity: 1;
    }
  }
  #absCore {
    top: 243px;
    left: 181px;
  }
  #bicep {
    top: 223px;
    left: 101px;
  }
  #chest {
    top: 173px;
    left: 121px;
  }
  #externalAnterior {
    top: 241px;
    left: 144px;
    width: 140px;
  }
  #forearms {
    top: 267px;
    left: 69px;
  }
  #vastusLateralis {
    top: 413px;
    left: 133px;
  }
  #vastusMedialis {
    top: 421px;
    left: 173px;
  }
  #longus {
    top: 533px;
    left: 153px;
  }
  #neck {
    top: 117px;
    left: 191px;
  }
  #rectusRemoris {
    top: 339px;
    left: 145px;
  }
  #serratusAnterior {
    top: 236px;
    left: 138px;
  }
  #shoulder {
    top: 171px;
    left: 97px;
  }
  #trapezius {
    top: 130px;
    left: 140px;
  }
  #back {
    top: 115px;
    left: 649px;
  }
  #infraspinatus {
    top: 193px;
    left: 631px;
  }
  #dorsi {
    top: 229px;
    left: 637px;
  }
  #triceps {
    top: 209px;
    left: 581px;
  }
  #glutes {
    top: 319px;
    left: 663px;
  }
  #hamstrings {
    top: 419px;
    left: 661px;
  }
  #calves {
    top: 525px;
    left: 649px;
  }
}
