{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "airbnb",
  "rules": {
    "max-len": ["error", {"code": 128, "tabWidth": 2, "ignoreUrls": true}],
    "comma-dangle": ["error", "never"]
  }
}
